.products
  .productsLeft
    = raw @page.content_for(:title_photo)
    .productPrint
      %a{:href => ""}
        = image_tag("like.png")
      %a{:href => ""}
        = image_tag("print.png")
      %a{:href => ""}
        = image_tag("tweet.png")
    .clearfix
    .productLhead
      %ul.sf-menu
        %li.sfHover.productM How to get this look
    = raw @page.content_for(:video)
    = raw @page.content_for(:steps)
  .clearfix
  .productsRight
    .productRhead
      %ul.sf-menu
        %li.productR
          %p Michelle as Marylin Look
          = image_tag("michelethumb.png", :alt => "thimb")
          %span
            by
            %i Lauren
    .productquote
      %b &#147;
      I absolutely love this look. Michelle looks so similar to Marilyn Monroe!
      %b &#148;
    = raw @page.content_for(:products)
    = raw @page.content_for(:introduce_part)
    .productLhead
      %ul.sf-menu
        %li.sfHover.productM Message Lauren
    .commentface
      .fb-comments{"data-href" => "http://refame.com", "data-num-posts" => "5", "data-width" => "510"}
.clearfix