%article.lightBox.registration-form
  %p
    %img{:height => "47", :src => "/assets/logoName.png", :width => "168"}
  %P Get Today's Favorite Looks
  %p by Top Makeup Artists
  %p
    .textRegister register for FREE
  %a{:href => '/users/auth/facebook'}
    %img{:alt => "facebook", :height => "29", :src => "/assets/facebook.png", :width => "199"}
  %p or
  %p.email-registration Register with Email
  %p.email-login Login with Email

%article.lightBox.email-registration-form
  %p
    %img{:height => "47", :src => "/assets/logoName.png", :width => "168"}
  %P Get Today's Favorite Looks
  %p by Top Makeup Artists
  .textRegister register for FREE
  = form_for :user, :url => "/users/sign_in" do |f|
    %label first name
    = f.text_field :first_name
    .error.error-first-name
    %label last name
    = f.text_field :last_name
    .error.error-last-name
    %label email address
    = f.text_field :email
    .error.error-email
    %label password
    = f.password_field :password
    .error.error-password
    %label password confirmation
    = f.password_field :password_confirmation
    .error.error-password-confirmation
    %label or you can
    .imagealert
      %a{:href => '/users/auth/facebook'}
        %img.left{:alt => "facebook", :height => "29", :src => "/assets/facebook.png", :width => "199"}
      = image_submit_tag("signUp.png", :class => "sign-up-btn", :alt => "Sign up")
