<html>
  <head>
    <title>::- ReFame -::</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div class="s1">
        <div class="logo"></div>
        <div class="social-nav">
          <ul>
            <% if current_user %>
              <li>
                <%= link_to "Sign out", "/users/sign_out", :method => :delete  %>
              </li>
            <% else %>
              <li>
                <a href:"#", target:"_blank" >
                  <img alt:"Pinterest", height:"33", src:"/assets/pinterest.png", width:"34" ></img>
                </a>
              </li>
              <li>
                <a href:'/users/auth/twitter'>
                  <img alt:"Twitter", height:"33", src:"/assets/twitter.png", width:"34"></img>
                </a>
              </li>
              <li>
                <a href:'/users/auth/facebook' >
                  <img alt:"Facebook", height:"33", src:"/assets/fb.png", width:"34">
                  </img>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <div id="topmenu">
          <ul class="sf-menu">
            <li class="sfHover">
              Get this look
            </li>
          </ul>
        </div>
        <div id="content">
          <p id="notice" class="notice"><%= notice %></p>
          <p id="alert" class="alert"><%= alert %></p>
          <div id="large_box" ></div>
        </div>
        <div id="zoomContainer01"></div>
        <div class="clearfix"></div>
        <%= yield %>
      </div>
      <div id="footer">
        <div id="footer_content">
          <div id="cbsi_f">
            <p> about / lorem ipsum </p>
          </div>
        </div>
      </div>
      <% unless %>
        <%= render :partial => "shared/login_form" %>
        <%= render :partial => "shared/registration_form" %>

        :javascript
          $(function(){
            $(".registration-form").fadeIn();
            $('#zoomContainer01').css({width:$(document).width(), height:$(document).height()}).show();
          });
      <% end %>
    </div>
  </body>
</html>