!!!
%html
  %head
    %title ::- ReFame -::
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      .s1
        .logo
        .social-nav
          %ul
            %li
              %a{:href => "#", :target => "_blank"}
                %img{:alt => "Pinterest", :height => "33", :src => "/assets/pinterest.png", :width => "34"}
            %li
              %a{:href => "#", :target => "_blank"}
                %img{:alt => "Twitter", :height => "33", :src => "/assets/twitter.png", :width => "34"}
            %li
              %a{:href => "#", :target => "_blank"}
                %img{:alt => "Facebook", :height => "33", :src => "/assets/fb.png", :width => "34"}
            - if current_user
              %li
                = link_to "Sign out", "/users/sign_out", :method => :delete
        #topmenu
          %ul.sf-menu
            %li.sfHover Get this look
        #content
          #large_box
        #zoomContainer01
        .clearfix
        = yield
      #footer
        #footer_content
          #cbsi_f
            %p about / lorem ipsum
      - unless current_user
        = render :partial => "shared/registration_form"

        :javascript
          $(function(){
            $(".registration-form").css("left",($(document).width()/2)-200);
            $(".registration-form").fadeIn();
            $('#zoomContainer01').css({width:$(document).width(), height:$(document).height()}).show();
          });
